version: 2.1
jobs:
  build:
    docker:
      - image: circleci/buildpack-deps:stretch
      - image: python 
    steps:
      - checkout 
      - setup_remote_docker
      - run:
          name: Build docker image
          command: |
            echo 'Starting building docker image'
            docker build -t circlecidockerimage .
            echo 'Finished building docker image'
      - run: 
          name: Installation of aws-cli and tools
          command: |
            curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
            unzip awscliv2.zip
            sudo ./aws/install
            sudo apt-get install -y less
            sudo apt-get install python
            export AWS_PAGER="less"
            pip install ecs-deploy
      - run: 
          name: Pushing the created docker image to AWS 
          command: |
            aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 492266378106.dkr.ecr.us-east-1.amazonaws.com/circlecidockerimagejc
            docker tag circlecidockerimage:latest 92266378106.dkr.ecr.us-east-1.amazonaws.com/circlecidockerimagejc:$(docker images circlecidockerimage --format {{.ID}})
            docker push 492266378106.dkr.ecr.us-east-1.amazonaws.com/circlecidockerimagejc:$(docker images circlecidockerimage --format {{.ID}})
      - run: 
          name: Create a task definition to use the new docker image
          command: |
            aws configure set default.region us-east-1
            aws ecs register-task-definition --family circlecitaskdef --container-definitions "[{\"name\":\"service-jc\",\"image\":\"492266378106.dkr.ecr.us-east-1.amazonaws.com/circlecidockerimagejc\",\"cpu\":256,\"memory\":256,\"portMappings\":[{\"containerPort\":80,\"hostPort\":0}],\"essential\":true}]" --output text 
      - run: 
          name: Update Elastic Container Service to use the new task definition
          command: |
            ecs deploy Main-JC-ECS-34I0LIWU6AUY-ECSCluster-1NJHOEGS6Z603 service-jc --task circlecitaskdef
workflows: 
  version: 2
  testworkflow:
    jobs: 
      - build:
          context: AWS Setup 
          filters:
              branches:
                only: master